{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<h1 class="page-header"> Créer Chantier </h1>
	<br></br>
       {{form_start(form)}}
       {{form_widget(form)}}
       {{form_end(form)}}
{% endblock %}