{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<h3>
    Connexion
</h3>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
{% endblock fos_user_content %}
