{% extends 'base.html.twig' %}

{% block body %}
<br></br></br></br>
<h1><center>À-propos<center></h1>
</br></br>
<h1 align="center"><img class="rounded-circle img-fluid" src="../../../../ap.jpg"></h1>
<br></br>
<h3 align="center">Un cabinet médical est un local où est exercée une profession libérale liée aux soins de santé (exemples : médecin spécialiste, chirurgien-dentiste, pneumologue, radiologue, etc.) Ce médecin proposera dans ses locaux des consultations liés à sa spécialité. Ainsi, un médecin gynécologue par exemple, offrira uniquement des consultations en gynécologie. Un cabinet médical sera toujours constitué d'au moins une salle de consultation (qui fera parfois office de bureau pour le médecin spécialiste), d'une salle d'attente pour les patients, et parfois d'un accueil/secrétariat où un/une secrétaire médical(e) sera présente pour renseigner, prendre les rendez vous des patients.</h3>

{% endblock %}